{# app/Resources/views/newad.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <form action="" method="POST" novalidate="novalidate">
        {{ form_widget(form) }}
        <button type="submit">Save!</button>
    </form>
{% endblock %}